extends ../layout

block content
	h1.
		#{title}
	form#formAddUser(name="login",method="post",action="/users/login")
		p Email: 
			input#inputEmail(type="email", placeholder="Email", name="mail")
		p Password: 
			input#inputPassword(type="password", placeholder="Password", name="password")
		p
			button#btnSubmit(type="submit") submit